<!-- <p>card-menu works!</p> -->

<!-- <div fxLayout="row"
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="20px"
  > -->
<div fxLayout="row"
  fxLayoutAlign="space-between"
  >

  <div>
  <!-- <div fxFlex="33"
    fxFlex.lg="15"
    fxFlex.sm="30"> -->

    <button mat-button *ngIf="!shared" >Color</button>

  </div>

  <!-- <div>
    <button mat-button>Format</button>
    <p style="font-family: cursive;">Shared</p>
  </div> -->

  <div>
  <!-- <div fxFlex="33"
    fxFlex.lg="15"
    fxFlex.sm="30"> -->

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item
        (click)="duplicateTrigger()">
        <mat-icon>file_copy</mat-icon>
        <span>Duplicate</span>
      </button>
      <button mat-menu-item
        (click)="openAttachDialog(note)">
        <mat-icon>attach_file</mat-icon>
        <span>Attach</span>
      </button>
      <button mat-menu-item *ngIf="!shared"
        (click)="shareTrigger()">
        <mat-icon>person_add</mat-icon>
        <span>Share</span>
      </button>
      <button mat-menu-item *ngIf="!shared"
        (click)="deleteTrigger()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>

  </div>




</div>

