
<mat-card class="imgs" >

  <div (click)="editableClicked()" >
    <mat-card-title>{{ note.title }}</mat-card-title>
    <mat-divider [inset]="true" ></mat-divider>

    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->

    <mat-card-content>
      <app-card-content [body]="note.body" ></app-card-content>
    </mat-card-content>
  </div>

  <mat-card-actions *ngIf="showMenu">
    <app-card-menu
      [shared]="shared"
      (onDuplicate)="duplicate()"
      (onAttach)="attachFile()"
      (onShare)="share()"
      (onDelete)="delete()">
    </app-card-menu>
  </mat-card-actions>

</mat-card>


<!-- TODO
  - Use ExpansionPanel for file attachments and maybe the list of users who the card is shared with.
  - A Dialog to pop things out, like a notes card!
-->
