<!-- <p>notes works!</p>
<mat-divider></mat-divider> -->

<div fxLayout="row"
    fxLayoutAlign="center"
    style="padding: 5px;">
    <app-add-note class="animate__animated animate__fadeIn"
      (onRefreshNeeded)="loadNotes()"
    ></app-add-note>
</div>


<div fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign.xs="center center"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  >
  <div fxFlex="40"
    *ngFor="let note of notes"
    class="animate__animated animate__fadeIn">

    <app-notes-card
      [note]="note"
      [shared]="false"
      (onEditableClick)="openDialog(note)"
      (onRefreshNeeded)="loadNotes()">
    </app-notes-card>

  </div>

</div>
