<!-- <p>add-note works!</p> -->

<!-- <form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label> <mat-icon mat-list-icon>add</mat-icon>Take a note...</mat-label>
    <input matInput placeholder="Ex. Pizza" value="">
  </mat-form-field>

</form> -->

<button mat-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
        (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>


<!-- <button mat-button (click)="openDialog()">Launch dialog</button> -->
