
<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav>

    <mat-toolbar color="primary">
      <span>Menu</span>

      <span class="spacer"></span>

      <button mat-icon-button
              (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <!-- <a routerLink="./add-note"
        mat-list-item
        (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>add</mat-icon>
        <span>Add Note</span>
      </a> -->
      <a routerLink="notes"
        mat-list-item
        (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>label</mat-icon>
        <span>My Notes</span>
      </a>
      <a routerLink="./settings"
        mat-list-item
        (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>settings</mat-icon>
        <span>Settings</span>
      </a>
      <a routerLink="/login"
        mat-list-item
        (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button
      (click)="sidenav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>


    <button mat-button>
      {{user.name}}
      <!-- <img [src]="user.photoUrl" alt=""> -->
      <!-- Logout {{socialUser.name}} -->
    </button>
    <!-- <div *ngIf="socialAuthService.authState | async as socialUser">
    </div> -->

  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>


